.project_card {
    display         : flex;
    justify-content : space-between;
    padding         : 10px;
    border-radius   : 10px;
    background-color: #3B46AE;
    color           : white;
    cursor          : pointer;

    @mixin part {
        display       : flex;
        flex-direction: column;
        gap           : 5px;
    }

    &-left_part {
        @include part;

        &-title {
            font-size: 18px;
        }

        &-description {
            font-size: 12px;
        }
    }

    &-right_part {
        @include part;
        justify-content: space-between;

        &-prog_langs {
            display   : flex;
            gap       : 5px;
            min-height: 25px;

            &-icon {
                width           : 25px;
                height          : 25px;
                border-radius   : 100%;
                background-color: #D9D9D9;
            }
        }

        &-users_number {
            display        : flex;
            align-items    : center;
            justify-content: flex-end;
            gap            : 5px;

            &-text {
                font-size: 14px;
            }
        }

        &-date {
            display        : flex;
            justify-content: flex-end;
            font-size      : 12px;
        }
    }
}

.new_project_card {
    background-color: #7B86E5;
}

.own_project_card {
    background-color: #3DB392;
}