.projects {
    position: relative;
    height  : 100%;

    &-top_part {
        padding: 10px 10px 0;

        &-search {
            padding         : 10px;
            background-color: #45ABE4;
            border-radius   : 10px;
        }

        &-filter {
            padding         : 10px;
            background-color: #505050;
            border-radius   : 10px;

            &-button {
                background-color: #45ABE4;
            }
        }
    }

    &-list {
        flex-grow: 1;
        height   : 0;
        overflow : scroll;
        padding  : 0 10px;
    }

    &-pagination {
        display        : flex;
        justify-content: center;
    }
}